{% extends "bookmarks/base.html" %}

{% block main %}
<h1>Bookmarks</h1>

<details>
    <summary>Add Bookmark</summary>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{new_bookmark_form}}
            <button>Save</button>
        </fieldset>
    </form>
</details>

{% include "_pagination.html" %}

<div class="bookmarks">
    {% for bookmark in page.object_list %}
    {% include "bookmarks/_bookmark_card.html" %}
    {% endfor %}
</div>
<!-- TODO: links to tags -->

{% include "_pagination.html" %}


{% endblock %}